/*
* @Author: xukaixing
* @Date:   2020-02-07 13:45:59
* @Last Modified by:   xukaixing
* @Last Modified time: 2020-02-07 13:47:01
*/
//.eslintignore
/build
/config
/static
/public
/dist
!**/.eslintrc*
/node_modules
*.svg
*.ico
*.json
.gitignore
*.md
*.log
*.lock

